/*
Name:     Chase White (01735254)
    Email:    chgase_white@student.uml.edu
    File:     style.CSS
    Created:  06/22/22
    Desc: GUI HW 4 part 1, CSS file
*/

.row{
	margin: 2em;
}

.border{
	padding: 1em;	
}

/* default color of alert is hidden until input error is made */
.alert{
	margin-top: 1em;
	background-color: white;
	border-color: white;
}

.validate_msg{
	padding: 8px;
	color: red;
	border: 1px solid red;
	text-align: center;
}

label{
	margin-top: 20px;
}

button{
	margin-top: 10px;
}

legend{
	font-weight: bold;
}

/* every other row is gray for readability */
tr:nth-child(odd){
	background-color: lightgray;
}

/* first row is white text on black, overrides previous modifier above */
tr:nth-child(-n+1){
	background-color: black;
	color: white;
}

/* making the table look like a grid */
td{
	text-align: right;
	padding: 4px;
	border: 2px solid black;
}

/* first column is white text on black */
td:nth-child(-n+1){
	background-color: black;
	color: white;
}